@import "tailwindcss";

body {
  font-family: "Geomini", sans-serif;
}

.geomini {
  font-family: "Geomini", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}